.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


.directory
.Trash-*
.nfs*

*.swp
*.swo
*~

*.jsonl
*.jsonl.gz
oracle-cards*

.env
.env.local

*.log
